<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<div id="app">

    <ul>
        <!-- iterando pelos obj pessoas -->
        <li v-for="(pessoa, i) in pessoas">
            {{ i }}
            <!-- iterando pelos atributos do objeto pessoa -->
            <div v-for="(valor, chave, index) in pessoa">
                {{ chave }}: {{ valor }}
            </div>
            <hr>
        </li>
    </ul>

    <br>
    <p>se trocar div por span cada objeto fica com seus atributos inline</p>
    <ul>
        <!-- iterando pelos obj pessoas -->
        <li v-for="(pessoa, i) in pessoas">
            {{ i }}
            <!-- iterando pelos atributos do objeto pessoa -->
            <span v-for="(valor, chave, index) in pessoa">
                {{ chave }}: {{ valor }}
            </span>
            <hr>
        </li>
    </ul>
    <br>
    <br>
    <p>Lista de Números</p>
    <span v-for="n in 10">{{ n }} {{ n==10 ? '': ','}}</span>


</div>


<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome: 'Ana', idade: 26, peso: 59 },
                { nome: 'Guilherme', idade: 22, peso: 89 }
            ]
        },
        methods: {
            getFrutas2() {
                return getFrutas();
            }
        }
    })



</script>

<style>
    ul {
        list-style: none;
        /* oculta as bolinhas ao lado de cada item */
    }

    h1,
    p {
        display: inline;
        /* mesma linha */
    }
</style>