<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<style>
    .caixas {
        display: flex;
        justify-content: space-around;
    }

    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }

    .c1 {
        background-color: red;
    }

    .c2 {
        background-color: green;
    }

    .c3 {
        background-color: blue;
    }

    .girar {
        transform: rotate(45deg);
    }
</style>

<div id="app">
    <div class="caixas">
        <!-- //fazendo assim o que for digitado no imput vira a cor da diva -->
        <div class="demo" :style="{'background-color':cor}"></div>

        <!-- usando camel case também funciona -->
        <div class="demo" :style="{backgroundColor:cor}"></div>

        <!-- atribuindo um estilo COMPUTADO-->
        <div class="demo" :style="meuEstilo"></div>

        <!-- atribuindo um estilo Composto com NOTAÇÃO DE ARRAY-->
        <div class="demo" :style="[meuEstilo, {height: altura}]"></div>
    </div>

    <hr>
    <input type="text" v-model="cor">
    <input type="text" v-model="largura">

    <script>
        new Vue({
            el: "#app",
            data: {
                cor: 'red',
                largura: 120,
                altura: 50

            },
            computed: {
                meuEstilo() {
                    return {
                        backgroundColor: this.cor,
                        width: this.largura + 'px'  /*também pode ser escrito  `${this.largura}px` */
                    }
                }

            },
        });
    </script>